.userPage {
  width: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 2px;
  padding: 10px 0;

  .userPageHeader {
    padding-right: 15px;

    .userPageTitle {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .userPageMain {
      display: flex;

      .userPageAvatar {
        max-width: 180px;
        max-height: 140px;
        margin: 0 15px;
      }

      .userPageDescription {
        display: inherit;
        flex-direction: column;
      }

      @media (max-width: 625px) {
        flex-direction: column;
        height: 100%;
        align-items: center;
      }
    }

    .userPageBio {
      margin: 15px;
    }
  }

  .userPageInput {
    margin: 0 15px;
  }

  .userPageBody {
    margin-top: 15px;

    .userPageRepo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      border-top: solid 1px;
      border-bottom: solid 1px;
      padding: 3px 13px;
      cursor: pointer;

      .userPageCounts {
        display: inherit;
        flex-direction: column;
        text-align: right;

        .userPageCountsTitle {
          margin-left: 10px;
        }
      }
      @media (max-width: 570px) {
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
      }
    }
  }
}